@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

body h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #FFFFFF;
  background-color: #615048;
}

.button:focus {
  outline: 3px solid #83B3D3;
}

.button:active {

}

body h2 {
  line-heibackground-color: #615048;
  outline: none;
  color: rgba(255, 255, 255, 0.3);ght: 36px;
}

.button--primary {
  background-color: #83B3D3;
}

.button--primary:hover {
  background-color: #68A2CA;
}

.button--primary:focus{
  outline: 3px solid #756257;
}

.button--primary:active {
  background-color: #68A2CA;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.no-indent {
  margin: 0;
  padding: 0;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-filter {
  display: flex;
}

.form-buttons {
/*  пока не использовала  */
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation__logo {
  position: absolute;
  width: 149px;
  margin-right: 30px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin:0 0 0 239px;
  padding: 0;
  list-style-type: none;
}

.navigation__user {
  max-width: 300px;
  margin-left: auto;
  flex-wrap: initial;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation__user .navigation__link {
  min-width: 18px;
  min-height: 18px;
}

.navigation__item .button {
  width: 160px;
  color: #FFFFFF;
  padding: 8px 15px;
  margin-left: 16px;
}

.navigation__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation__link:hover {
  color: #756257;
}

.navigation__link:hover .navigation__icon {
  fill: #756257;
}

.navigation__link:active .navigation__icon path {
  opacity: 0.3;
}

.navigation__item:hover .button {
  color: #FFFFFF;
}

.navigation__item:active .button {
  color: rgba(255, 255, 255, 0.3);
}

.navigation__link--current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.background-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 485px;
  background-image: url("../images/background-index.jpg");
}

.about {
  /*margin: 0;*/
  /*padding: 0;*/
  margin: 0 auto;
  width: 720px;
  padding-top: 63px;
  padding-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
}

.about h2 {
  /*line-height: 36px;*/
  margin-bottom: 31px;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  /*text-align: center;*/
}
.advantages h3 {
  font-size: 24px;
  line-height: 28px;
}

.advantages p {
  margin-top: 30px;
}

.advantages__name {
  margin-top: 20px;
}

.advantages__title {
  margin-top: 98px;
  margin-bottom: 30px;
}

.advantages__item {
  width: 400px;
  height: 384px;
  padding: 0px 75px;
}

.advantages__image {
  width: 800px;
  height: 384px;
}

.light1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.light2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.cold {
  color: #FFFFFF;
  background-color: #83B3D3;
}

/*.cold p {*/
/*  margin-right: 15px;*/
/*  margin-left: 15px;*/
/*}*/

.icon {
  margin-top: 88px;
}

.entry {
  margin: 0 auto;
  padding: 91px 240px 93px 240px;
}

.entry h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.entry__button {
  width: 575px;
  margin-top: 34px;
  padding: 12px 30px;
  border-radius: 10px;
}

.subscription {
  /*height: 411px;*/
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/background-subscription.jpg");
  padding: 94px 200px 94px 200px;
  /*text-align: center;*/
}
.sub {
  width: 800px;
  height: 224px;
}

/* из-за заголовков лишние пиксели в отступах везде, пока такой костыль */
.sub h2 {
  margin: 0px 0px 30px 0px;
  color: #FFFFFF;
}

.newsletter-form {
  margin-top: 46px;
  /*margin: 0;*/
}

/*.newsletter-button {*/
/*  background-color: #83B3D3;*/
/*}*/
/*.newsletter-button:hover {*/
/*  background-color: #68A2CA;*/
/*}*/

.subscription-inner {
  width: 800px;
  text-align: center;
  margin: 0px 200px;
  padding-top: 48px;
  padding-bottom: 141px;
}

.subscription-inner h2 {
  margin-bottom: 46px;
}

.text {
  font-size: 22px;
  line-height: 26px;
}

.header-inner {
  height: 373px;
  padding-top: 35px;
  padding-left: 71px;
  color: #FFFFFF;
  background-color: #756257;
  background-image: url("../images/background-catalog.jpg");
}

.header-inner-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px; /*  77.64  */

}

.breadcrumbs {
  margin: 0px 0px 45px 0px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  /*margin-right: 26px;*/
}

.breadcrumbs-item {
  margin-right: 26px;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  background-image: url("../images/nav-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 8px;
  right: -17px;
  width: 5px;
  height: 8px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-hotels {
  padding: 0px 72px;
}

.catalog-filter__group {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.sorting-container {
  display: flex;
  width: 1057px;
  margin-bottom: 53px;
}

.sorting--title {
  /*пока не стала прописывать*/
  /*margin-right: 192px;*/
}

.sorting--types {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: #FFFFFF;
  width: 44px;
  height: 44px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle--current {
  border: 2px solid #000000;
}

.sorting--title {
  margin-right: 192px;
}

.sorting--select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 81px;
  color: #333333;
}

.hotels {
  width: 1057px;
}

.hotel-list {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  gap: 10px 18px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*flex-grow: 1;*/
}

.hotel-card h3 {
  margin-top: 0;
}

.hotel-card__content {
  margin-top: auto;
}

.hotel-card__link {
  text-decoration: none;
}

.hotel-card__image {
  margin-bottom: 16px;
}

.hotel-card__title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 16px;
}

.housing_type {
  width: 133px;
  margin-right: 25px;
}

.hotel-card__row {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  display: flex;
  /*justify-content: space-between;*/
}

.hotel-card__row:last-child {
  margin: 0;
}

.space-between {
  justify-content: space-between;
}

.hotel-card__stars {
  font-size: 16px;
  line-height: 21px;
}

.hotel-card__button{
  width: 133px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  /*padding: 9px 23px 10px 23px;*/
}

/*.hotel-card__button .button--primary {*/
/*  width: 140px;*/
/*}*/

.favorite {
  width: 140px;
}

.hotel-card__rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  /*padding: 9px 32px 10px 32px;*/
}

.load__show {
  text-align: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 218px 30px 218px;
  margin-bottom: 30px;
}

.load__show-more {
  width: 100%;
  padding: 17px 0px;
  line-height: 26px;
}

.pagination-container {
  display: flex;
  /*justify-content: space-between;*/
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 55px;
  height: 55px;
  padding: 14px 15px;
  text-align: center;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination--current {
  color: #000000;
  background-color: #F2F2F2;
}

.card-count {
  font-size: 18px;
  line-height: 23px;
  display: flex;
  margin-left: auto; /*либо justify-content в pagination-container*/
}

.page-footer-container {
  width: 1200px;
  /*Высоту можно задать?*/
  height: 120px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-address-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  /*text-align: center;*/
}

.phone {
  width: 720px;
  margin-right: 53px;
}

.footer-social {
  width: 120px;
  margin-right: 48px;
}

.footer-social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
}

.footer-social__item {
  min-width: 20px;
  min-height: 18px;
  margin-right: 30px; /*???*/
  /*background-color: #83B3D3;*/
}

/*или last-child*/
.footer-social__item:nth-child(3n) {
  margin-right: 0;
}

.footer-social .button {
  text-transform: none;
  background-color: #FFFFFF;
}

.footer-social__item:hover {
  fill: #68A2CA;
}

/*.footer-social__link {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  margin: auto;*/
/*}*/

/*этот параметр нужен?*/
.logo-htmlacademy {
  width: 115px;
}
